html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
/*-----------ESTILOS FUENTES------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 6.4rem;
}

h2,
.h2 {
  font-size: 4.8rem;
}

h3,
.h3 {
  font-size: 2.4rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.8rem;
}

h6,
.h6 {
  font-size: 1.6rem;
}

.font-weight--light {
  font-weight: 360;
}

.font--light-italic {
  font-weight: 250;
  font-style: italic;
}

.style-headers {
  padding: 4.8rem;
  text-align: center;
  color: #AB0232;
}

.card__title {
  color: #AB0232;
}

.text-center {
  text-align: center;
}

/*--------------------GRID---------------*/
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.grid__half {
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%; */

  flex: 0 0 calc(50% - 0.8rem);
}


/*--------------------PORTADA---------------*/

.bg-cover {
  background-image: url("../imagenes/rosa.png");
  background-size: cover;  
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cover__text {
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: green solid 2px;
}


/*---------------- MÁRGENES DEL MAIN -------------*/

main {
  padding: 0 15rem;
}

/*-------------------- SOBRE MÍ ----------------------*/

.content-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 8rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center 
}

.icon {
  fill: #AB0232;
  height: 95px;
  width: 99px;
}

/*cómo cambio color de icono???*/

.style-title {
  border-bottom: #AB0232 4px solid;
  padding-bottom: 20px;
  width: fit-content;
}

/*----------------------MI HISTORIA---------------------*/

.content__photo-story {
  display: flex;
}

.bg-style {
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 5rem;
}

/*---------------------QUÉ SE HACER ---------------------*/

ul {
  list-style-type: none;
  list-style-position: outside;
}

.content__icon-tool {
  display: flex;
  justify-content: space-around;
}

.icon-tool {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

/*----------------------QUÉ ME DEFINE-------------------*/

  .definition__header {
    display: flex;
    align-items: center;
  }

    .definition__bullet {
      height: 33px;
      width: 33px;
      margin-right: 0.8rem;
    }

.color-word {
  color: #AB0232;
  font-weight: 700;
}

/*----------------------BOTÓN SUBMIT--------------------*/

[type="submit"] {
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #1C1C1E;
  padding: 10px 25px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
}

[type="submit"]:hover {
  background-color: #AF0F3C;
  border: #FFFFFF 0.2rem solid;
  color: #FFFFFF;
}
