html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
  }
  /*-----------ESTILOS FUENTES------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  
  h1,
  .h1 {
    font-size: 6.4rem;
  }
  
  h2,
  .h2 {
    font-size: 4.8rem;
  }
  
  h3,
  .h3 {
    font-size: 2.4rem;
  }
  
  h4,
  .h4 {
    font-size: 1.8rem;
  }
  
  h5,
  .h5 {
    font-size: 1.6rem;
  }
  
  h6,
  .h6 {
    font-size: 1.4rem;
  }

  .title__size {
    font-size: 3.6rem;
  }

  .subtitle__size {
    font-size: 2.6rem;
  }
  
  .font-weight--light {
    font-weight: 360;
  }
  
  .font--light-italic {
    font-weight: 250;
    font-style: italic;
  }
  
  .style-headers {
    text-align: center;
    color: #AB0232;
  }
  
  .card__title {
    color: #AB0232;
  }
  
  .text-center {
    text-align: center;
  }

 
/*---------------- MÁRGENES-------------*/


main {
  margin: 10rem 0;
}

section {
  margin: 10rem 0;
  padding: 0 2.4rem;
}
 


/*---------------- MÁRGENES DEL MAIN -------------*/

/*____________________________________________________________________________________________
main {
  padding: 0 15rem;
  margin: 15rem 0;
}


section {
  margin: 15rem 0;
}
 
___________________________________________________________________________________________*/

/*--------------------PORTADA---------------*/

.bg-cover {
  background-image: url("../imagenes/rosa.png");
  background-size: cover;  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__text {
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .title__size {
    font-size: 5.4rem;
  }

  .subtitle__size {
    font-size: 3.6rem;
  }

  .h4 {
      font-size: 2rem;
  }
}


@media only screen and (min-width: 950px) {
  
 .title__size {
    font-size: 6.4rem;
  }

  .subtitle__size {
    font-size: 4.8rem;
  }

  main {
    padding: 0 15rem;
    margin: 15rem 0;
  }

  section {
    margin: 15rem 0;
    padding: 0 0;
  }
}

/*-------------------- SOBRE MÍ ----------------------*/

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.icon {
  fill: #AB0232;
  height: 95px;
  width: 99px;
}

@media only screen and (min-width: 580px) {
  .content-cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .title-and-text {
    flex-direction: column;
    flex: 2;
  }
}


@media only screen and (min-width: 950px) {
  .content-cards{
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
 
 .card {
    flex-direction: column;
   }
 }

/*----------------------MI HISTORIA---------------------*/

/*.content__photo-story {
  display: flex;
} */

.bgstory-style {
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 5rem 5rem;
}

/*--------------------- QUÉ SÉ HACER (CONOCIMIENTOS) ----------------*/

.knowledge__list--style {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
  font-size: 2rem;
  font-weight: 360;
}

@media only screen and (min-width: 580px) {
  .title-and-ul {
    display: flex;
    flex-direction: row;
    gap: 20%;
}

  .card__title {
    flex: 1;
    padding-left: 5rem;
  }

  .knowledge__list--style {
    flex: 2;
}
}

@media only screen and (min-width: 950px) {
  .title-and-ul {
    flex-direction: column;
    gap: 0;
  }

  .card__title {
    padding-left: 0%;
  }
}

/*--------------------- QUÉ SÉ HACER (HERRAMIENTAS) ----------------*/

  .li-icon-tool {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 12px 0;
    gap: 20%;
  }

  .icon-tool {
     width: 50px;
     height: 50px;
  }

  @media only screen and (min-width: 580px) {
    .content__icon-tool {
      display: flex;
      justify-content: space-around;
      padding: 0%;
      flex-wrap: wrap;
  }

    .li-icon-tool {
      padding: 0;
      margin: 0;
      flex-basis: 33.33%;
    }

    .li-icon-tool,
    .icon-tool {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      align-items: center;
  }
}

 @media only screen and (min-width: 950px) {
   .content__icon-tool {
      display: flex;
      justify-content: space-around;
      padding: 0%;
      flex-wrap: nowrap;
  }

  .li-icon-tool {
    padding: 0;
    margin: 0;
    flex-basis: 0;
  }

   .li-icon-tool,
    .icon-tool {
      display: flex;
      flex-direction: column;
      margin: 2rem;
      align-items: center;
  }
 }
 
 /*---------------------------- QUÉ ME DEFINE -----------------------*/
