html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
  }
  /*---------------------------------ESTILOS FUENTES--------------------------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  
  h1,
  .h1 {
    font-size: 6.4rem;
  }
  
  h2,
  .h2 {
    font-size: 4.8rem;
  }
  
  h3,
  .h3 {
    font-size: 2.4rem;
  }
  
  h4,
  .h4 {
    font-size: 1.8rem;
  }
  
  h5,
  .h5 {
    font-size: 1.6rem;
  }
  
  h6,
  .h6 {
    font-size: 1.4rem;
  }

  .title__size,
  .title-cover__size {
    font-size: 3.6rem;
  }

  .subtitle__size {
    font-size: 2.6rem;
  }
  
  .font-weight--light {
    font-weight: 360;
  }
  
  .font--light-italic {
    font-weight: 250;
    font-style: italic;
  }
  
  .style-headers {
    text-align: center;
    color: #AB0232;
  }
  
  .card__title {
    color: #AB0232;
  }
  
  .text-center {
    text-align: center;
    margin-top: 5rem;
  }

 
/*------------------------------------ MÁRGENES----------------------------------*/


main {
  margin: 10rem 0;
}

section {
  margin: 10rem 0;
  padding: 0 2.4rem;
}

@media only screen and (min-width: 950px) {

   main {
     padding: 0 15rem;
     margin: 15rem 0;
   }
 
   section {
     margin: 15rem 0;
     padding: 0 0;
   }
  }

   @media only screen and (min-width: 1350px) {

    main {
      padding-right: calc((100% - 1100px) / 2);
      padding-left: calc((100% - 1100px) / 2);

      margin: 15rem 0;
    }
   }
/*--------------------------------------------PORTADA---------------------------------*/

.bg-cover {
  background-image: url("../imagenes/rosa.png");
  background-size: cover;  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__text {
  margin: 0px;
  padding: 0 1.5rem;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  text-shadow: 7px 7px 9px #1e1e1f;
}


@media only screen and (min-width: 613px) {
  .title__size,
  .title-cover__size {
    font-size: 5.4rem;
  }

  .subtitle__size 
  {
    font-size: 3.6rem;
  }

  .h4 {
      font-size: 2rem;
  }
}

@media only screen and (min-width: 950px) {
  
 .title__size,
 .title-cover__size {
    font-size: 6.4rem;
  }

  .subtitle__size {
    font-size: 4.8rem;
  }
}

@media only screen and (min-width: 1300px) {
  
  .title-cover__size {
     font-size: 8rem;
     font-weight: 700;
   }
 
   .subtitle__size {
     font-size: 6.4rem;
   }
 }

/*----------------------ANIMACIÓN---------------*/

@keyframes circle-in-top-right {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(150% at top right);
  }
}

[transition-style="in:circle:top-right"] {
  animation: 8s cubic-bezier(.25, 1, .30, 1) circle-in-top-right both;
}

/*-------------------------------- SOBRE MÍ -------------------------------*/

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.icon {
  fill: #AB0232;
  height: 95px;
  width: 99px;
  border-radius: 5px;
  box-shadow: -5px -5px 10px 0 #AB0232;
} 

@media only screen and (min-width: 580px) {
  .content-cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .title-and-text {
    flex-direction: column;
    flex: 2;
  }
}


@media only screen and (min-width: 950px) {
  .content-cards{
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
 
 .card {
    flex-direction: column;
   }
 }

/*-------------------------------MI HISTORIA------------------------------*/

.content__photo-story {
  display:grid;
  grid-template-rows: 2fr 5fr;
  grid-gap: 2rem;
}

.content__photo {
  background-image: url("../imagenes/rosa-foto.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.bgstory-style {
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 4rem 4rem;
}

.line {
  width: 9rem;
  height: 4px;
  background-color: #AB0232;
}

@media only screen and (min-width: 390px) {
  .content__photo-story {
    grid-template-rows: 4fr 5fr;
  }
}

@media only screen and (min-width: 530px) {
  .content__photo-story {
    grid-template-rows: 5fr 5fr;
  }
}

@media only screen and (min-width: 640px) {
  .content__photo {
    background-image: url("../imagenes/foto rosa.jpg");
  }

  .content__photo-story {
    grid-template-rows: 5fr 6fr;
  }
}

@media only screen and (min-width: 800px) {
  .content__photo-story {
    grid-template-rows: none;
    grid-template-columns: 4fr 5fr;
  }
} 

@media only screen and (min-width: 950px) {
  .content__photo-story {
    grid-template-columns: none;
    grid-template-rows: 5fr 5fr;
  }
}

@media only screen and (min-width: 1178px) {
  .content__photo {
    background-image: url("../imagenes/rosa-foto.jpg");
  }

  .content__photo-story {
    grid-template-rows: none;
    grid-template-columns: 3fr 5fr;
  }
} 

/*------------------------- QUÉ SÉ HACER (CONOCIMIENTOS) --------------------*/

.knowledge__list--style {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
  font-size: 2rem;
  font-weight: 360;
}

@media only screen and (min-width: 580px) {
  .title-and-ul {
    display: flex;
    flex-direction: row;
    gap: 20%;
}

  .card__title {
    flex: 1;
    padding-left: 5rem;
  }

  .knowledge__list--style {
    flex: 2;
}
}

@media only screen and (min-width: 950px) {
  .title-and-ul {
    flex-direction: column;
    gap: 0;
  }

  .card__title {
    padding-left: 0%;
  }
}

/*--------------------------- QUÉ SÉ HACER (HERRAMIENTAS) -------------------------*/

  .li__icon-tool {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 12px 0;
    gap: 20%;
  }

  .icon-tool {
     width: 50px;
     height: 50px;
  }

  @media only screen and (min-width: 580px) {
    .content__icon-tool {
      display: flex;
      justify-content: space-around;
      padding: 0%;
      flex-wrap: wrap;
  }

    .li__icon-tool {
      padding: 0;
      margin: 0;
      flex-basis: 33.33%;
    }

    .li__icon-tool,
    .icon-tool {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      align-items: center;
  }
}

 @media only screen and (min-width: 950px) {
   .content__icon-tool {
      display: flex;
      justify-content: space-around;
      padding: 0%;
      flex-wrap: nowrap;
  }
  
  .li__icon-tool {
    padding: 0;
    margin: 0;
    flex-basis: 0;
  }

   .li__icon-tool,
    .icon-tool {
      display: flex;
      flex-direction: column;
      margin: 2rem;
      align-items: center;
  }
 }
 
 /*----------------------------------- QUÉ ME DEFINE -------------------------------*/

 .define {
  list-style-type: none;
 }

.define__bullet{
  position: relative;
}

 .define__bullet:before {
  content: "";
  position: absolute;
  left: -35px;
  background-color: #AB0232;
  box-shadow: 0 0 0 3px #FFFFFF, 0 0 0 7px #AB0232, -5px -5px 10px 0 #AB0232;
  border: 3px solid #AB0232;
  border-radius: 50%;
  width: 10px;
  height: 10px;
 }

 .color-word {
  color: #AB0232;
  font-weight: 700;
 }

 @media only screen and (min-width: 580px) {
  .define__bullet:before {
    left: 0;
  }
 }


 @media only screen and (min-width: 950px) {
  .define__bullet:before {
    left: -35px;
  }

  .define {
    display: flex;
    }

  .content-half-define {
    width: 50%;
    padding: 0 30px;
    }
 }

 /*-------------------------------------------FOOTER---------------------------------*/

 form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15px 0;
  width: 80%;
  max-width: 700px;
 }

 label {
  margin: 8px 0 0 0;
 }

 textarea {
  height: 7rem;
  border-radius: 5px;
 }

 input {
  border-radius: 5px;
  border: none;
 }

.aceptar {
  display: inline-block;
  margin: 8px 0 0 0;
}
.link-priv {
  color: #FFFFFF;  
}

 [type="submit"] {
  justify-content: center;
  margin: 12px 0;
  width: 110px;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #1C1C1E;
  padding: 10px 25px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  border: #FFFFFF 0.2rem solid;
}

[type="submit"]:hover {
  background-color: #AF0F3C;
  border: #FFFFFF 0.2rem solid;
  color: #FFFFFF;
}

.vector-tlf {
  height: 20px;
  width: 20px;
}

.vector-mail {
  height: 20px;
  width: 30px;
}


@media only screen and (min-width: 950px) {
  .contactinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
  }
}